html{
  font-family: Raleway,Open Sans,Sans-Serif;
  font-weight: 300;
  font-size: 12px;
  @include media(sm-phone){
    font-size: 12px;
  }
  @include media(lg-phone){
    font-size: 14px;
  }
  @include media(pad){
    font-size: 16px;
  }
  @include media(lg-pad){
    font-size: 16px;
  }
  @include media(desktop){
    font-size: 18px;
  }
  min-width: 320px;
  body{
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    color: $primary-color;
  }
}

h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

header{
  font-family: Raleway,Sans-Serif;
  font-size: $header-size;
  letter-spacing: $header-letter-spacing;
  margin-right: -1*$header-letter-spacing;
  height: $line-height;
  text-transform: uppercase;
  font-weight: bold;
  &.dark{
    color: $secondary-color;
    background: $primary-color;
    margin-right: -1*$document-margin;
  }
}
.section-header{
  @extend header;
  line-height: $header-size;
  margin-bottom: 1rem;
}

p{
  margin: 0;
  font-size: 1rem;
  text-align: justify;
}


ul{
  padding: 0;
  margin: 0;
  li{
    list-style: none;
    padding: 0;
  }
}

table{
  width: 100%;
}

section{
  padding: 1rem 0;
}

a{
  //&:before{
    //content: ">";
  //}
  color: inherit;
  text-decoration: none;
  &:hover{
    color: blue;
    text-decoration: underline;
  }
}
