$brown: #CBAD91;
$light-brown: #F2EBD9;
$grey: #525A5C;
$navy: #0D0C2A;
$red: #B02C29;
$blue: #00008B;

$primary-color: $navy;
$secondary-color: white;
$warning-color: $red;

.warning-color{
  color: $red;
}

