$avenir-next-thin:"../font/avenir/avenir-next-thin" !default;
$avenir-next-regular:"../font/avenir/avenir-next-regular" !default;
$avenir-next-italic:"../font/avenir/avenir-next-italic" !default;
$avenir-next-bold:"../font/avenir/avenir-next-bold" !default;

$opensans-light:"../font/opensans/opensans-light-webfont" !default;
$opensans-light_italic:"../font/opensans/opensans-lightitalic-webfont" !default;
$opensans-regular: "../font/opensans/opensans-regular-webfont" !default;
$opensans-regular_italic: "../font/opensans/opensans-italic-webfont" !default;
$opensans-semibold: "../font/opensans/opensans-semibold-webfont" !default;
$opensans-semibold_italic: "../font/opensans/opensans-semibolditalic-webfont" !default;
$opensans-bold: "../font/opensans/opensans-bold-webfont" !default;
$opensans-bold_italic: "../font/opensans/opensans-bold-webfont" !default;
$opensans-extrabold: "../font/opensans/opensans-extrabold-webfont" !default;
$opensans-extrabold_italic: "../font/opensans/opensans-extrabolditalic-webfont" !default;
$raleway-thin:"../font/raleway/Raleway-Thin" !default;
$raleway-thin_italic:"../font/raleway/Raleway-ThinItalic" !default;
$raleway-extralight:"../font/raleway/Raleway-ExtraLight" !default;
$raleway-extralight_italic:"../font/raleway/Raleway-ExtraLightItalic" !default;
$raleway-light:"../font/raleway/Raleway-Light" !default;
$raleway-light_italic:"../font/raleway/Raleway-LightItalic" !default;
$raleway-regular:"../font/raleway/Raleway-Regular" !default;
$raleway-regular_italic:"../font/raleway/Raleway-Italic" !default;
$raleway-medium:"../font/raleway/Raleway-Medium" !default;
$raleway-medium_italic:"../font/raleway/Raleway-MediumItalic" !default;
$raleway-semibold:"../font/raleway/Raleway-Semibold" !default;
$raleway-semibold_italic:"../font/raleway/Raleway-SemiboldItalic" !default;
$raleway-bold:"../font/raleway/Raleway-Bold" !default;
$raleway-bold_italic:"../font/raleway/Raleway-BoldItalic" !default;
$raleway-extrabold:"../font/raleway/Raleway-ExtraBold" !default;
$raleway-extrabold_italic:"../font/raleway/Raleway-ExtraBoldItalic" !default;
$raleway-black:"../font/raleway/Raleway-Black" !default;
$raleway-black_italic:"../font/raleway/Raleway-BlackItalic" !default;
$texgyreadventor-regular:"../font/texgyreadventor/texgyreadventor-regular" !default;
$texgyreadventor-regular_italic:"../font/texgyreadventor/texgyreadventor-italic" !default;
$texgyreadventor-bold:"../font/texgyreadventor/texgyreadventor-bold" !default;
$texgyreadventor-bold_italic:"../font/texgyreadventor/texgyreadventor-bolditalic" !default;
$equalsans-regular:"../font/EqualSans" !default;

@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-thin}.ttf");
  font-weight: 300;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-thin}.woff");
  font-weight: 300;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-thin}.svg");
  font-weight: 300;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-thin}.eot");
  font-weight: 300;
}

@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-regular}.ttf");
  font-weight: 400;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-regular}.woff");
  font-weight: 400;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-regular}.svg");
  font-weight: 400;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-regular}.eot");
  font-weight: 400;
}

@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-bold}.ttf");
  font-weight: 500;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-bold}.woff");
  font-weight: 500;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-bold}.svg");
  font-weight: 500;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-bold}.eot");
  font-weight: 500;
}

@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-italic}.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-italic}.woff");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-italic}.svg");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: Avenir Next;
  src: url("#{$avenir-next-italic}.eot");
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: Tex Gyre Adventor;
  src: url("#{$texgyreadventor-regular}.otf");
  font-weight: 400;
}
@font-face{
  font-family: Tex Gyre Adventor;
  src: url("#{$texgyreadventor-regular_italic}.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: Tex Gyre Adventor;
  src: url("#{$texgyreadventor-bold}.otf");
  font-weight: 500;
}
@font-face{
  font-family: Tex Gyre Adventor;
  src: url("#{$texgyreadventor-bold_italic}.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Equal-Sans;
  src: url("#{$equalsans-regular}.ttf");
}

@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-light}.woff");
  font-weight: 300;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-light}.woff2");
  font-weight: 300;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-light}.ttf");
  font-weight: 300;
}

@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-light_italic}.woff");
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-light_italic}.woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-light_italic}.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-regular}.woff");
  font-weight: 400;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-regular}.woff2");
  font-weight: 400;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-regular}.ttf");
  font-weight: 400;
}

@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-regular_italic}.woff");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-regular_italic}.woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-regular_italic}.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-semibold}.woff");
  font-weight: 500;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-semibold}.woff2");
  font-weight: 500;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-semibold}.ttf");
  font-weight: 500;
}

@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-semibold_italic}.woff");
  font-weight: 500;
  font-style: italic;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-semibold_italic}.woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-semibold_italic}.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-bold}.woff");
  font-weight: 600;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-bold}.woff2");
  font-weight: 600;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-bold}.ttf");
  font-weight: 600;
}

@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-bold_italic}.woff");
  font-weight: 600;
  font-style: italic;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-bold_italic}.woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-bold_italic}.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-extrabold}.woff");
  font-weight: 700;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-extrabold}.woff2");
  font-weight: 700;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-extrabold}.ttf");
  font-weight: 700;
}

@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-extrabold_italic}.woff");
  font-weight: 700;
  font-style: italic;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-extrabold_italic}.woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face{
  font-family: Open Sans;
  src: url("#{$opensans-extrabold_italic}.ttf");
  font-weight: 700;
  font-style: italic;
}





@font-face{
  font-family: Raleway;
  src: url("#{$raleway-thin}.ttf");
  font-weight: 100;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-thin_italic}.ttf");
  font-weight: 100;
  font-style: italic;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-extralight}.ttf");
  font-weight: 200;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-extralight_italic}.ttf");
  font-weight: 200;
  font-style: italic;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-light}.ttf");
  font-weight: 300;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-light_italic}.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-regular}.ttf");
  font-weight: 400;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-regular_italic}.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-medium}.ttf");
  font-weight: 500;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-medium_italic}.ttf");
  font-weight: 500;
  font-style: italic;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-semibold}.ttf");
  font-weight: 600;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-semibold_italic}.ttf");
  font-weight: 600;
  font-style: italic;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-bold}.ttf");
  font-weight: 700;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-bold_italic}.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-extrabold}.ttf");
  font-weight: 800;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-extrabold_italic}.ttf");
  font-weight: 800;
  font-style: italic;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-black}.ttf");
  font-weight: 900;
}
@font-face{
  font-family: Raleway;
  src: url("#{$raleway-black_italic}.ttf");
  font-weight: 900;
  font-style: italic;
}

