$media-breakpoints: ("watch": (max-width: 320px), "sm-phone": (min-width: 320px ), "lg-phone": (min-width: 468px), "pad": (min-width: 768px) , "lg-pad": (min-width: 1024px), "desktop": (min-width: 1280px), "lg-desktop": (min-width: 1600px)); 

$spacing:2rem;
$document-margin: 1rem;
//$main-head-spacing: 22.8rem;
$main-head-spacing: 11.0rem;
$line-height: 2rem;

