@import "animate";
@import "font";
@import "variables";
@import "mixins";
@import "color";
@import "base";
@import "util";

#resume{
  margin: 0 auto;
  max-width: 1024px;
  display: block;
  aside{
    margin: $document-margin;
    #name{
      @extend .animated;
      @extend .fadeInLeft ;
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
      font-weight: bold;
      font-size: 2*$header-size;
      height: inherit;
    }
    #line{
      @extend .animated;
      @extend .expand;
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
      margin-right: -2rem;
      width: calc(100% + 2rem);
      background: $primary-color;
      height: $line-height;
    }
    #contact{
      @extend .animated;
      @extend .fadeInLeft ;
      animation-delay: 1.2s;
      -webkit-animation-delay: 1.2s;
    }
    #about{
      @extend .animated;
      @extend .fadeInLeft ;
      animation-delay: 1.4s;
      -webkit-animation-delay: 1.4s;
    }
    #skills{
      @extend .animated;
      @extend .fadeInLeft ;
      animation-delay: 1.6s;
      -webkit-animation-delay: 1.6s;
    }
    #language{
      @extend .animated;
      @extend .fadeInLeft ;
      animation-delay: 1.8s;
      -webkit-animation-delay: 1.8s;
    }
    #download{
      @extend .animated;
      @extend .fadeInLeft ;
      animation-delay: 2.0s;
      -webkit-animation-delay: 2.0s;
      a{
        .btn{
          @include transition($property: all, $duration: 0.2s, $timing: ease-in-out, $delay: 0s);
          border: 1px solid $primary-color;
          text-align: center;
        }
        &:hover{
          text-decoration: none;
          .btn{
            color: $secondary-color;
            background: $primary-color;
          }
        }
      }
    }
  }
  main{
    @include media(pad){
      padding-top: $main-head-spacing;
    }
    margin: $document-margin;
    #education{
      @extend .animated;
      @extend .fadeInUp;
      animation-delay: 1.4s;
      -webkit-animation-delay: 1.4s;
      table.education-header{
        .school{
          text-transform: uppercase;
        }
        .date{
          width: 50%;
          text-align: right;
        }
        .major{
        }
        .advisor{
          text-align: right;
        }
      }
    }
    #experience{
      @extend .animated;
      @extend .fadeInUp;
      animation-delay: 1.6s;
      -webkit-animation-delay: 1.6s;
      table.experience-header{
        .workplace{
          text-transform: uppercase;
        }
        .date{
          width: 50%;
          text-align: right;
        }
        .position{
          font-style: italic;
        }
      }
    }
    #interests{
      @extend .animated;
      @extend .fadeInUp;
      animation-delay: 1.8s;
      -webkit-animation-delay: 1.8s;
    }
  }
  @include media(pad){
    //display: flex;
    //flex-direction: row;
    aside{
      //padding-left: calc(100% - 250px);
      padding-right: $document-margin;
      padding-left: 0;
      min-width: $aside-width;
      max-width: $aside-width;
      float:left;
      #about{
        *{
          text-align: right;
        }
      }
      #name{
        text-align: right;
      }
      #line{
        margin-right: 0rem;
        margin-left: -2rem;
      }
      #contact{
        *{
          text-align:right;
        }
      }
      #skills{
        *{
          text-align: right;
        }
      }
      #language{
        text-align:right;
        table{
          width: auto;
          margin-right: 0px;
          margin-left: auto;
          tbody{
            tr{
              td{
                padding-right: 0;
                padding-left: 1rem;
              }
            }
          }
        }
      }
    }
    main{
      float:left;
      padding-left: $document-margin;
      width: calc( 100% - #{$aside-width} - 6rem);
    }
  }
}

@import "theme";
