@import "animate";
@import "font";
@import "variables";
@import "mixins";
@import "color";
@import "base";
@import "util";

#root{
  margin: 0 auto;
  max-width: 1024px;
  display: block;
  aside{
    padding-left: calc(100% - 250px);
    margin: $document-margin;
    #name{
      @extend .animated;
      @extend .fadeInLeft ;
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
      font-weight: bold;
      font-size: 5rem;
      height: inherit;
      text-align: right;
    }
    #line{
      @extend .animated;
      @extend .expand;
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
      margin-left: -2rem;
      width: calc(100% + 2rem);
      background: $primary-color;
      height: 2.0rem;
    }
    #about{
      @extend .animated;
      @extend .fadeInLeft ;
      animation-delay: 1.2s;
      -webkit-animation-delay: 1.2s;
    }
    #contact{
      @extend .animated;
      @extend .fadeInLeft ;
      animation-delay: 1.4s;
      -webkit-animation-delay: 1.4s;
      text-align:right;
    }
    #skills{
      @extend .animated;
      @extend .fadeInLeft ;
      animation-delay: 1.6s;
      -webkit-animation-delay: 1.6s;
      text-align: right;
    }
    #language{
      @extend .animated;
      @extend .fadeInLeft ;
      animation-delay: 1.8s;
      -webkit-animation-delay: 1.8s;
      text-align:right;
      table{
        width: auto;
        margin-right: 0px;
        margin-left: auto;
        tbody{
          tr{
            td{
              padding-right: 0;
              padding-left: 1rem;
            }
          }
        }
      }
    }
  }
  main{
    @include media(pad){
      padding-top: 22.8rem;
    }
    margin: $document-margin;
    #education{
      @extend .animated;
      @extend .fadeInUp;
      animation-delay: 1.4s;
      -webkit-animation-delay: 1.4s;
      table.education-header{
        .school{
          text-transform: uppercase;
        }
        .date{
          text-align: right;
        }
        .major{
        }
        .advisor{
          text-align: right;
        }
      }
    }
    #experience{
      @extend .animated;
      @extend .fadeInUp;
      animation-delay: 1.6s;
      -webkit-animation-delay: 1.6s;
      table.experience-header{
        .workplace{
          text-transform: uppercase;
        }
        .date{
          text-align: right;
        }
        .position{
          font-style: italic;
        }
      }
    }
    #interests{
      @extend .animated;
      @extend .fadeInUp;
      animation-delay: 1.8s;
      -webkit-animation-delay: 1.8s;
    }
  }
  @include media(pad){
    //display: flex;
    //flex-direction: row;
    aside{
      padding-right: $document-margin;
      padding-left: 0;
      min-width: 230px;
      max-width: 230px;
      float:left;
    }
    main{
      float:left;
      padding-left: $document-margin;
      width: calc( 100% - 230px - 6rem);
    }
  }
}

@import "theme";
