@font-face {
  font-family: Tex Gyre Adventor;
  src: url("./font/texgyreadventor/texgyreadventor-regular.otf");
  font-weight: 400; }

@font-face {
  font-family: Tex Gyre Adventor;
  src: url("./font/texgyreadventor/texgyreadventor-italic.otf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: Tex Gyre Adventor;
  src: url("./font/texgyreadventor/texgyreadventor-bold.otf");
  font-weight: 500; }

@font-face {
  font-family: Tex Gyre Adventor;
  src: url("./font/texgyreadventor/texgyreadventor-bolditalic.otf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: Equal-Sans;
  src: url("./font/EqualSans.ttf"); }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-light-webfont.woff");
  font-weight: 300; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-light-webfont.woff2");
  font-weight: 300; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-light-webfont.ttf");
  font-weight: 300; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-lightitalic-webfont.woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-lightitalic-webfont.woff2");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-lightitalic-webfont.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-regular-webfont.woff");
  font-weight: 400; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-regular-webfont.woff2");
  font-weight: 400; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-regular-webfont.ttf");
  font-weight: 400; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-italic-webfont.woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-italic-webfont.woff2");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-italic-webfont.ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-semibold-webfont.woff");
  font-weight: 500; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-semibold-webfont.woff2");
  font-weight: 500; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-semibold-webfont.ttf");
  font-weight: 500; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-semibolditalic-webfont.woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-semibolditalic-webfont.woff2");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-semibolditalic-webfont.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-bold-webfont.woff");
  font-weight: 600; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-bold-webfont.woff2");
  font-weight: 600; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-bold-webfont.ttf");
  font-weight: 600; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-bold-webfont.woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-bold-webfont.woff2");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-bold-webfont.ttf");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-extrabold-webfont.woff");
  font-weight: 700; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-extrabold-webfont.woff2");
  font-weight: 700; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-extrabold-webfont.ttf");
  font-weight: 700; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-extrabolditalic-webfont.woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-extrabolditalic-webfont.woff2");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: Open Sans;
  src: url("./font/opensans/opensans-extrabolditalic-webfont.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-Thin.ttf");
  font-weight: 100; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-ExtraLight.ttf");
  font-weight: 200; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-ExtraLightItalic.ttf");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-LightItalic.ttf");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-Italic.ttf");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-Medium.ttf");
  font-weight: 500; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-Semibold.ttf");
  font-weight: 600; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-SemiboldItalic.ttf");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-ExtraBold.ttf");
  font-weight: 800; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-Black.ttf");
  font-weight: 900; }

@font-face {
  font-family: Raleway;
  src: url("./font/raleway/Raleway-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic; }

.warning-color {
  color: #B02C29; }

html {
  font-family: Railway,Open Sans,Sans-Serif;
  font-weight: 300;
  font-size: 10px;
  min-width: 320px; }
  @media (min-width: 320px) {
    html {
      font-size: 12px; } }
  @media (min-width: 468px) {
    html {
      font-size: 14px; } }
  @media (min-width: 768px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1024px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1280px) {
    html {
      font-size: 16px; } }
  html body {
    margin: 0;
    padding: 0;
    background-color: #F2EBD9;
    color: #0D0C2A; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

header, .section-header {
  font-family: Raleway,Sans-Serif;
  font-size: 1.8rem;
  letter-spacing: 0;
  margin-right: 0;
  height: 1.8rem;
  text-transform: uppercase;
  font-weight: bold; }
  header.dark, .dark.section-header {
    color: #F2EBD9;
    background: #0D0C2A;
    margin-right: -1rem; }

.section-header {
  line-height: 1.8rem;
  margin-bottom: 1rem; }

p {
  margin: 0;
  font-size: 1rem;
  text-align: justify; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none;
    padding: 0; }

table {
  width: 100%; }

section {
  padding: 1rem 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    font-weight: bold;
    text-decoration: underline; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.spacing {
  height: 2rem; }

.sm-spacing {
  height: 1rem; }

.bullet-point {
  list-style: initial; }

.bullet-point-list {
  padding: 5px; }
  .bullet-point-list li {
    margin-left: 25px; }

.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.btn, button {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  cursor: hand;
  background: none;
  border: 1px solid #0D0C2A;
  text-align: center;
  padding: 0.3rem; }
  .btn:hover, button:hover {
    color: #F2EBD9;
    background: #0D0C2A; }

html body {
  min-width: 320px;
  background-color: #F2EBD9; }

#home .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important; }
  #home .wrapper #title {
    font-family: Raleway,Open Sans,Sans-serif;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    margin-right: -0.3rem;
    text-transform: uppercase;
    text-align: center; }
  #home .wrapper .links {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center; }
    #home .wrapper .links ul li {
      padding-bottom: 1rem; }
      #home .wrapper .links ul li .home-nav-btns {
        text-decoration: none; }
        #home .wrapper .links ul li .home-nav-btns div {
          width: 100%; }
